# Dependências
node_modules/

# Variáveis de Ambiente
.env

# Ignorar TUDO do Neo4j que seja dado ou log
neo4j/
neo4j/data/
neo4j/logs/
neo4j/transactions/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*